* {
    /* border: 2px solid red; */
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    bottom: 0;
}
#main_div {
    /* background-color: yellow; */
    margin: 5vh;
    padding: 0 5vh;
    height: 40rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

#main_div #inputs {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    font-size: larger;
}

#main_div #inputs button {
    font-size: larger;
    width: 30%;
}


#main_div #play_field {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: auto auto auto;
    /* margin: vh; */
    left: 5em;
    right: 5em;
    height: 40vh;
    width: 40vh;
}

#main_div label {
    /* background-color: yellow; */
    text-align: center;
}


#main_div #scorecard {
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    height: 10vh;
}

#main_div #scorecard label textarea {
    resize: none;
    text-align: center;
}