* {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trirong';
    font-weight: bold;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to top, white, pink);
}

header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 80%;
    padding: 1.5rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.buttons * {
    font-size: large;
}

.btn {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border: none;
    cursor: pointer;
    color: hsla(255,100%,0%, 0.5);
}

.btn:hover {
    color: hsla(255,100%,0%, 0.8);
}

.btn_replay {
    display: none;
}

.game_arena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.turn_info {
    display: none;
}

.game_arena div {
    margin: 2em;
}

.board {
    height: 280px;
    width: 280px;
    background-color: pink;
    display: none;
}

.box {
    border-collapse: collapse;
    border: none;
    border-style: outset;
}

.result {
    display: none;
}

footer {
    text-align: center;
}